{% include 'footer2.html' %}
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center row">
                <div class=" col-md-6">
                    <img src="https://central.toasttab.com/servlet/rtaImage?eid=ka24W000000PmZG&feoid=00N3c000006fwBw&refid=0EM4W000004PEZL" alt=""
                        class="img-fluid">
                </div>
                <div class=" col-md-6 mt-5">
                    <p class="fs-3"> <span class="text-danger">Hej!  </span>Płatność została odrzucona!</p>
                    </p><br>
                    <a href="{{ url_for('productsPage') }}" class="btn btn-primary">Produkty</a>
                </div>

            </div>
        </div>
{% include 'footer.html' %}