{% include 'footer2.html' %}
<div class="container d-flex justify-content-center py-5" style="margin-top: 200px;">
<form class="col-lg-3" method="POST" novalidate>
    <h1 class="text-white">sklep.com</h1>
    <h1 class="h3 mb-3 fw-normal text-white">Logowanie</h1>

    <div class="form-floating mb-2">
      <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Email">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-2">
      <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Hasło">
      <label for="floatingPassword">Hasło</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj się</button>
    <small style="color: red">{{alert}}</small>
  </form>
</div>

{% include 'footer.html' %}